@import url("reset.css");

body {
    background-color: #CADBC8;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    justify-items: center;
}

.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    width: 90%;
    margin: 12px;
    background-color: #94807e;
    border: 4px solid #816F68;
    border-radius: 8px;
}

/*#region header bullshit -- will include the button to pop up the nav bar on mobile */
.repoem-header {
    flex: 1;
    display: flex;
    position: sticky;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 4px 0px 4px;
    background-color: #816F68;
    border: 2px solid burlywood;
    border-radius: 8px;
    width: 95%;
}

.header-title {
    font-size: 30px;
    color: #F8F4E3;
    text-shadow: 1px 1px burlywood;
    padding: 10px;
}

.poem-nav-button {
    background-color: #8D7471;
    border: 2px solid burlywood;
    color: #F8F4E3;
    font-size: 26px;
    border-radius: 8px;
    margin: 8px;
    height: 48px;
    width: 48px;
} 
/* #endregion */

/* navigation bar-- hidden by default on mobile, javascript to make it appear on button click yippee */
.poem-nav {
    display: none;
    flex-flow: column nowrap;
    align-items: center;
    justify-items: center;
    background-color: #F8F4E3;
    border: 4px solid #816F68;
    border-radius: 8px;
    box-shadow: 1px 1px burlywood;
    margin: 8px;
    padding: 4px;
    text-align: center;
}

.nav-header {
    font-size: 20px;
    color: #816F68;
    text-shadow: 1px 1px burlywood;
    padding: 2px;
}

.poem-list {
    padding: 0;
    list-style-type: none;
}

.featured {
    flex: 2;
    background-color: #F8F4E3;
    border: 2px solid #816F68;
    border-radius: 8px;
    margin: 4px;
    width: 60%;
}

.submission {
    flex: 2;
    background-color: #F8F4E3;
    border: 2px solid #816F68;
    border-radius: 8px;
    margin: 4px;
    width: 60%;
}

.poem-list {
    flex: 6;
    background-color: #F8F4E3;
    border: 2px solid #816F68;
    border-radius: 8px;
    margin: 4px;
    width: 60%;
}

/* #region main content styling-- featured poems and all that jazz*/
.content-container {
    flex: 5;
    width: 95%;
}

.index-container {
    display: flex;
    flex-flow: column nowrap;
    margin: 4px 0px 4px 0px;
}

/* featured poem bologna, very funny stuff here */
.featured-poem {
    flex: 1;
    background-color: #F8F4E3;
    border: 4px solid #816F68;
    box-shadow: 1px 1px burlywood;
    border-radius: 4px;
    margin: 4px 0px 4px 0px;
    padding: 4px;
}

#featured-poem-prime {
    flex: 3;
}

.featured-poem-container {
    display: flex;
    flex-flow: column nowrap;
}

.featured-poem-content {
    flex: 2;
    overflow: auto;
}

.featured-poem-video {
    flex: 1;
    align-self: center;
    border: 4px solid #816F68;
    border-radius: 4px;
    height: 40%;
    width: 80%;
    margin: 4px;
}

.poem-link-featured {
    color: #816F68;
    font-size: 18px;
}

.poem-link {
    color: #816F68;
}

/* featured poem two doodads */
.poem-two-text {
    display: none;
}

/* featured poem three doodads */

.poem-three-text {
    display: none;
}
/* #endregion */

/* footer bologna */
.repoem-footer {
    text-align: center;
    color: #F8F4E3;
}

.github-link {
    color: #F8F4E3;
}

@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
    .container {
        margin: 28px;
    }
    .header-title {
        padding: 10px 40px 10px 40px;
        font-size: 50px;
    }
    .content-container {
        display: flex;
        flex-flow: row nowrap;
    }
    .poem-nav-button {
        display: none;
    }
    .poem-nav {
        flex: 1;
        display: block;
        margin: 8px 8px 8px 0px
    }
    .index-container {
        flex: 5;
    }

    .featured-poem-container {
    flex-flow: row nowrap;
    }

    .featured-poem-video {
        align-self: stretch;
        height: 90%;
        width: 40%;
    }
}
