@import url("reset.css");

body {
    background-color: #CADBC8;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    justify-items: center;
}

#container {
    display: grid;
    grid-template-rows: 1fr 12fr 1fr;
    justify-items: center;
    min-height: 60vh;
    width: 90%;
    min-width: 0;
    margin: 12px;
    background-color: #94807e;
    border: 4px solid #816F68;
    border-radius: 8px;
}

/*#region header bullshit -- will include the button to pop up the nav bar on mobile */
.repoem-header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 10px 4px 0px 4px;
    background-color: #816F68;
    border: 2px solid burlywood;
    border-radius: 8px;
    width: 95%;
}

.header-title {
    justify-self: start;
    font-size: 30px;
    color: #F8F4E3;
    text-shadow: 1px 1px burlywood;
    padding: 10px;
}

.poem-nav-button {
    justify-self: end;
    background-color: #8D7471;
    border: 2px solid burlywood;
    color: #F8F4E3;
    font-size: 26px;
    border-radius: 8px;
    margin: 8px;
    height: 48px;
    width: 48px;
} 
/* #endregion */

/* navigation bar-- hidden by default on mobile, javascript to make it appear on button click yippee */
.poem-nav {
    display: none;
    grid-template-rows: 1fr 1fr 1fr 1fr 8fr;
    justify-items: center;
    background-color: #F8F4E3;
    border: 4px solid #816F68;
    border-radius: 8px;
    box-shadow: 1px 1px burlywood;
    margin: 8px;
    padding: 4px;
    text-align: center;
}

.nav-header {
    font-size: 28px;
    align-self: end;
    color: #816F68;
    text-shadow: 1px 1px burlywood;
    padding: 2px;
}

.poem-search {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
    width: 80%;
}

.search-bar {
    border: 2px solid #8D7471;
    border-radius: 8px 0px 0px 8px;
    min-width: 50px;
    max-width: 350px;
}

.poem-search-button {
    background-color: #8D7471;
    border: 2px solid #8D7471;
    border-radius: 0px 8px 8px 0px;
    color: #F8F4E3;
}

.featured {
    background-color: #8D7471;
    border: 2px solid burlywood;
    border-radius: 8px;
    color: #F8F4E3;
    margin: 4px;
    width: 80%;
}

.submission {
    background-color: #8D7471;
    border: 2px solid burlywood;
    border-radius: 8px;
    color: #F8F4E3;
    margin: 4px;
    width: 80%;
}

.poem-list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: #8D7471;
    border: 2px solid #816F68;
    border-radius: 8px;
    margin: 4px;
    width: 80%;
}

.poem-entry {
    background-color: #8D7471;
    border: 2px solid burlywood;
    border-radius: 8px;
    color: #F8F4E3;
    margin: 4px;
}

/* #region main content styling-- featured poems and all that jazz*/
#content-container {
    width: 95%;
}

.index-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: 4px 0px 4px 0px;
}

/* featured poem bologna, very funny stuff here */
.featured-poem {
    background-color: #F8F4E3;
    border: 4px solid #816F68;
    box-shadow: 1px 1px burlywood;
    border-radius: 4px;
    margin: 4px 0px 4px 0px;
    padding: 4px;
}

#featured-poem-prime {
    font-size: 20px;
}

.featured-poem-container {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.featured-poem-video {
    justify-self: center;
    order: 1;
    border: 4px solid #816F68;
    border-radius: 4px;
    height: 180px;
    width: 260px;
    margin: 4px;
}

.featured-poem-content {
    order: -1;
}

.poem-link-featured {
    color: #816F68;
    font-size: 18px;
}

.poem-link {
    color: #816F68;
}

#prime-poem-title {
    font-size: 28px;
}

.next-two-poems {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

/* featured poem two doodads */
.poem-two-text {
    display: none;
}

/* featured poem three doodads */

.poem-three-text {
    display: none;
}
/* #endregion */

/* footer bologna */
.repoem-footer {
    text-align: center;
    color: #F8F4E3;
}

.github-link {
    color: #F8F4E3;
}

@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
    #container {
        grid-template-rows: 2fr 12fr 2fr;
        margin: 28px;
    }
    .header-title {
        padding: 10px 40px 10px 40px;
        font-size: 50px;
    }
    #content-container {
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
    .poem-nav-button {
        display: none;
    }
    .poem-nav {
        display: grid;
        margin: 8px 8px 8px 0px
    }

    .featured-poem-container {
        display: inline;
    }

    .featured-poem-content {
        text-align: justify;
    }

    .featured-poem-video {
        justify-self: auto;
        float: inline-end;
        height: 300px;
        width: 480px;
        margin: 8px;
        margin-left: 15px;
    }
}
