@import url("reset.css");

/* the main container itself for each page */
body {
    background-color: #CADBC8;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    justify-items: center;
}
#container {
    display: flex;
    flex-flow: column nowrap;
    min-width: 80vw;
    max-width: 80vw;
    min-height: 100vh;
    max-height: 100vh;
}

/* #region CSS rules for the header */
#repoem-header {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    position: sticky;
    top: 0px;
    background-color: #816F68;
    border: 2px solid burlywood;
    border-radius: 0px 0px 8px 8px;
}
#header-title {
    display: flex;
    flex-flow: row nowrap;
    justify-self: start;
    align-self: center;
    justify-items: start;
    align-items: center;
    font-size: 30px;
    color: #F8F4E3;
    text-shadow: 1px 1px burlywood;
}
#book-logo {
    height: 127px;
    width: 96px;
}
#home-link {
    color: #F8F4E3;
}
#poem-nav-button {
    position: absolute;
    right: 0px;
    background-color: #8D7471;
    border: 2px solid burlywood;
    color: #F8F4E3;
    font-size: 26px;
    border-radius: 8px;
    margin: 8px;
    height: 48px;
    width: 48px;
} 
/* #endregion */

/* #region CSS rules to set up Content Container for Mobile */
    #content-container {
        display: flex;
        flex-flow: column nowrap;
        flex: 3;
    }
/* #endregion */

/* #region CSS rules for the Navigation Bar */
    #desktop-nav {
        display: none;
    }
    #mobile-nav {
        display: none;
        position: absolute;
    }
    .poem-nav {
        display: flex;
        flex-flow: column nowrap;
        left: 0px;
        background-color: #F8F4E3;
        border: 4px solid #816F68;
        border-radius: 8px;
        box-shadow: 1px 1px burlywood;
        margin: 4px 8px 4px 0px;
        padding: 4px;
        text-align: center;
    }
    .nav-header {
        font-size: 28px;
        align-self: center;
        color: #816F68;
        text-shadow: 1px 1px burlywood;
        padding: 2px;
    }
    .not-nav-header {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
    }
    .nav-buttons {
        justify-self: flex-start;
    }
    .nav-button {
        background-color: #8D7471;
        border: 2px solid burlywood;
        border-radius: 8px;
        margin: 4px;
        height: 48px;
        width: 264px;
    }
    .nav-link {
        font-size: 20px;
        color: burlywood;
    }
    .asset-credits {
        justify-self: flex-end;
    }
    .asset-credit {
        background-color: #8D7471;
        border: 2px solid burlywood;
        border-radius: 8px;
        color: #F8F4E3;
        margin: 4px;
        height: 96px;
        width: 264px;
    }
    .asset-link {
        color: burlywood;
    }

/* #endregion */

/* #region CSS rules for the footer */
#repoem-footer {
    position: sticky;
    bottom: 0px;
    flex: 1;
    text-align: center;
    color: #F8F4E3;
    background-color: #816F68;
    border: 2px solid burlywood;
    border-radius: 8px 8px 0px 0px;
}
#github-link {
    color: #F8F4E3;
}
/* #endregion */

/* #region CSS Rules for Media Queries at 768px */
@media (min-width: 768px) {
    /* media queries for header */
    #header-title {
        padding: 10px 40px 10px 40px;
        font-size: 50px;
    }
    /* media queries for content container */
    #content-container {
        flex-flow: row nowrap;
    }
    /* media queries for nav */
    #poem-nav-button {
        display: none;
    }
    #desktop-nav {
        display: flex;
        flex: 1;
        left: 0px;
    }
    #mobile-nav {
        display: none;
    }
}

/* #endregion */